<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
    <link rel ="stylesheet" href = "css/login.css">
    <script src="js/login.js"></script>

</head>
<body>
<div class="login-wrap">
  <h2>Perfil</h2>
  
  <div class="form">
	  
	 <h3>
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user" width="52" height="52" viewBox="0 0 24 24" stroke-width="2" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
  <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
  <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
</svg>
        </h3>
     
            <h3>Nombre: <span th:text="${user.name}"></h3>
            <h3>Apellido: <span th:text="${user.lastName}"></h3>
            <h3>Correo: <span th:text="${user.email}"></span></h3>
            <h3>Telefono: <span th:text="${user.telephone}"></span></h3>
            <h3>Ciudad: <span th:text="${user.city}"></span></h3>
	  
	  <h3></h3>
	  
    <a href="/profilePage" >
      <button> Menú de Opciones </button>  
  </a> 
  
  <a href="/login" >
      <button> Salir </button>  
  </a> 
    
  </div>
  
</div>
</body>
</html>