<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel ="stylesheet" href = "css/login.css">
    <script src="js/login.js"></script>
</head>
<body>
<div class="login-wrap">
  <h2>Registrate</h2>
  
  <div class="form">
	  <form action="/registrarse" method="post">
        <input type="text" placeholder="Nombre" name="nameUser" />
        <input type="text" placeholder="Apellido" name="lastNameUser" />
        <input type="text" placeholder="Correo Electrónico" name="emailUser" />
        <input type="password" placeholder="Clave" name="passwUser" />
        <input type="text" placeholder="Número de Teléfono" name="telUser" />
        <input type="text" placeholder="Ciudad" name="cityUser" />
        <input type="text" placeholder="País" name="countryUser" />
        <button type="submit">Registrarse</button>
        <a href="/login"> <p>¿Ya tienes una cuenta?, Ingresa </p></a>
    </form>
  </div>
</div>
</body>
</html>